로봇산업진흥원 JOB페어 (하게 되면 8월 말쯤)
6개조 

주제 7개

1. 퓨처로봇(판교)
안내용로봇, 홍보로봇, 홈로봇
HRI 기술 보유
[안드로이드와 연동 가능한 스마트 축구 로봇]
-안드앱, 서버개발
-블루투스 연동

2. 피플앤드테크놀러지(코엑스)
소프트웨어, 비콘SW 플랫폼  //마트 혼자 장보기
[블루투스를 활용한 스마트 로봇의 실내 내비게이션 기술 개발]

3. 유진로봇(가산)로봇 전부
서비스로봇(제조용, 청소, 교육용, 연구용, 재난구조)
[홈 텔레프레전스 서비스 기반 솔루션 개발]
-넽웍
-webRTC 오픈소스 활용

4. 로봇메이션(송파)하드웨어
장난감같은 로봇
[영상처리를 활용한 군집 로봇 제어]
-위에서 카메라로 위치 잡아서 제어
-미션수행을 위한 다개체 로봇제어

5. 로보티즈(가산) 
키트형 교구로봇, 액츄에이터, 휴머노이드
[오픈소스 제어기 OpenCM의 활용성 고도화]
-

6. 로보로보(상암) 하드웨어
[WLAN/WPAN기반의 실내 내비게이션 기술 개발]

7. 카이맥스(가산)
키트형 교구로봇, 교사 보조 로봇
[로봇 제어가 가능한 로봇 교육 컨트롤러용 SW개발]